@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Windstone"; 
    src: url("/fonts/windstone/Windstone-Regular.otf")
    format("opentype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Rotten";
    src: url("/fonts/rotten/rotten.ttf")
    format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Colton";
    src: url("/fonts/colton/Colton.otf")
    format("opentype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Coreta";
    src: url("/fonts/coreta/coreta.ttf")
    format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Essential-Economy";
    src: url("/fonts/essential-economy/Essential-Economy.ttf")
    format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Carlosea";
    src: url("/fonts/carlosea/carlosea.otf")
    format("opentype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Neue";
    src: url("/fonts/neue-machina/NeueMachina-Regular.otf")
    format("opentype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "BebasNeue";
    src: url("/fonts/bebasneue/BebasNeueLight-PK7jP.otf")
    format("opentype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}

html {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, #8e0e00, #1f1c18);
    background-size: cover;
    background-position: center;
}
