---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { socials } from "../assets/data";
---

<Layout title="Portfolio">
    <main class="w-screen">
        <div id="Home" class="w-full h-screen text-center items-center">
            <div
                class="flex flex-col justify-center items-center text-center w-full h-full"
            >
                <h1 class="sm:text-9xl text-7xl font-Orbiter font-bold py-2">
                    Hey, I'm <span class="text-green-400">Chinedum</span>
                </h1>
                <h1 class="sm:text-8xl text-7xl font-Orbiter font-bold py-2">
                    and I like to Build Stuff
                </h1>
                <p></p>
                <ul class="flex justify-center mt-12">
                    {
                        socials.map((social) => (
                            <li class="mx-12 opacity-70 hover:opacity-100 duration-300">
                                <button class="bg-green-400 rounded-full w-20 h-20 border-white border-2 hover:duration-500 hover:animate-bounce">
                                    <a
                                        href={social.link}
                                        target="_blank"
                                        class="text-4xl"
                                    >
                                        <i
                                            class={
                                                social.logo +
                                                " bx-lg hover:scale-125"
                                            }
                                        />
                                    </a>
                                </button>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 0rem;
        width: 100%;
        color: white;
        font-size: 20px;
        line-height: 1.5;
        height: 100vh;
        position: absolute;
        overflow-x: hidden;
    }
</style>
