---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { socials } from "../assets/data";
import { Image } from "astro:assets";
---

<Layout title="Home">
    <main class="w-screen">
        <div
            id="Home"
            class="w-screen h-screen text-center items-center justify-center flex flex-col"
        >
            <div class="items-center flex justify-center">
                <Image
                    src="/images/ProgrammerLogo.png"
                    width={1200}
                    height={1200}
                    alt="programmer logo image"
                    class=""
                />
            </div>
            <div class="items-center text-center flex flex-col justify-center">
                <h1 class="sm:text-8xl text-6xl font-Orbiter font-bold py-2">
                    Hey, I'm <span
                        class="bg-gradient-to-r from-emerald-500 to-red-800 bg-clip-text text-transparent"
                        >Chinedum</span
                    >
                </h1>
                <h1 class="sm:text-7xl text-6xl font-Orbiter font-bold py-2">
                    and I like to Build Stuff
                </h1>
                <p></p>
                <ul class="flex justify-center mt-12 ml-12">
                    {
                        socials.map((social) => (
                            <li class="mx-10 opacity-70 hover:opacity-100 duration-300">
                                <button
                                    class="bg-green-400 rounded-full w-20 h-20 border-white border-2 hover:duration-300 hover:animate-spin hover:bg-gradient-to-r from-emerald-500 to-red-800"
                                    title={social.name}
                                >
                                    <a
                                        href={social.link}
                                        target="_blank"
                                        class="text-4xl"
                                    >
                                        <i
                                            class={
                                                social.logo +
                                                " bx-lg hover:scale-125"
                                            }
                                        />
                                    </a>
                                </button>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 0rem;
        width: 100%;
        color: white;
        font-size: 20px;
        line-height: 1.5;
        height: 100vh;
        position: absolute;
        overflow-x: hidden;
    }
</style>
