---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Mission">
    <main class="w-screen">
        <div id="Mission" class="w-full h-screen text-center items-center">
            <div
                class="flex justify-self-center flex-col min-w-full w-full h-full"
            >
                <h1 class="sm:text-10xl text-5xl font-Bebas mt-36 uppercase">
                    Mission
                </h1>
                <div
                    class="flex justify-center mx-auto py-16 xl:w-[80%] sm:w-full xs:w-[75%]"
                >
                    <div
                        class="max-w-sm rounded-xl overflow-hidden shadow-2xl shadow-red-500/50 mx-auto"
                    >
                        <img
                            class="w-full"
                            src="/images/samhouston.jpg"
                            alt="Sunset in the mountains"
                        />
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2">Education</div>
                            <p class="text-emerald-400 text-base">
                                I'm a passionate software engineer based in
                                Huntsville, Texas. I graduated with Honors from
                                Sam Houston State University with a Bachelors of
                                Science degree in Software Engineering. In the
                                course of my studies, I was exposed to various
                                technology and thinking patterns all which have
                                made me a better engineer.
                            </p>
                        </div>
                        <div class="px-6 pt-4 pb-2">
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
                                >#Bearkats</span
                            >
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
                                >#College</span
                            >
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
                                >#Texas</span
                            >
                        </div>
                    </div>
                    <div
                        class="max-w-sm rounded-xl overflow-hidden shadow-2xl shadow-red-500/50 mx-auto"
                    >
                        <img
                            class="w-full"
                            src="/images/problemsolve.jpg"
                            alt="Sunset in the mountains"
                        />
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2">Passion</div>
                            <p class="text-emerald-400 text-base">
                                My love for problem-solving and creating
                                innovative solutions led me to the field of
                                software engineering. I thrive in the dynamic
                                and ever-evolving world of technology, where I
                                can apply my knowledge and skills to develop
                                robust and efficient software applications.
                            </p>
                        </div>
                        <div class="px-6 pt-4 pb-2">
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
                                >#Problem Solving</span
                            >
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
                                >#Coding</span
                            >
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
                                >#Software</span
                            >
                        </div>
                    </div>
                    <div
                        class="max-w-sm rounded-xl overflow-hidden shadow-2xl shadow-red-500/50 mx-auto"
                    >
                        <img
                            class="w-full"
                            src="/images/boxing.jpg"
                            alt="Sunset in the mountains"
                        />
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2">Hobbies</div>
                            <p class="text-emerald-400 text-base">
                                Beyond coding, I have diverse interests that
                                keep me engaged outside the realm of
                                programming. I find inspiration and excitement
                                in combat sports such as boxing and MMA. The
                                discipline, strategy, and physicality of these
                                sports constantly push me to challenge myself
                                and strive for personal growth.
                            </p>
                        </div>
                        <div class="px-6 pt-4 pb-2">
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
                                >#Chess</span
                            >
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
                                >#Boxing</span
                            >
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
                                >#Entertainment</span
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 0rem;
        width: 100%;
        color: white;
        font-size: 20px;
        line-height: 1.5;
        height: 100vh;
        position: absolute;
        overflow-x: hidden;
    }
</style>
