---
import Layout from "../layouts/Layout.astro";
import Technologies from "../components/Technologies.astro";
import "../styles/global.css";
---

<Layout title="Portfolio">
    <main class="w-screen">
        <div id="Technologies" class="w-full h-screen text-center items-center">
            <div
                class="flex flex-col justify-self-center min-w-full w-full h-full"
            >
                <h1 class="sm:text-10xl text-5xl font-Bebas mt-36 uppercase">
                    Technologies
                </h1>
                <div class="flex justify-center items-center h-full">
                    <Technologies />
                </div>
            </div>
        </div>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 0rem;
        width: 100%;
        color: white;
        font-size: 20px;
        line-height: 1.5;
        height: 100vh;
        position: absolute;
        overflow-x: hidden;
    }
</style>
