<section class="flex justify-center mx-auto py-6 w-full h-screen">
    <div class="sm:w-[50%] xs:w-full flex flex-col h-screen">
        <div class="ml-48">
            <p class="md:text-2xl text-xl mt-6 opacity-60 text-start">
                Feel free to reach out for collaborations, inquires, or just to
                say hi!
            </p>

            <form autocomplete="off" class="flex flex-col py-2 mt-1" id="form">
                <label
                    for="from_name"
                    class="font-bold opacity-90 mb-1 text-start text-lg"
                    >Name</label
                >
                <input
                    type="text"
                    class="bg-transparent border-white/50 border-2 placeholder:text-gray-500 placeholder:text-lg py-[5px] text-white rounded-md mb-4 md:w-[80%] xs:w-full shadow-lg"
                    placeholder="What's your name?"
                    required
                    id="from_name"
                    name="from_name"
                />

                <label
                    for="from_email"
                    class="font-bold opacity-90 mb-1 text-start text-lg"
                    >Email</label
                >
                <input
                    type="text"
                    class="bg-transparent border-white/50 border-2 placeholder:text-gray-500 placeholder:text-lg py-[5px] text-white rounded-md mb-4 md:w-[80%] xs:w-full shadow-lg"
                    placeholder="What's your email address?"
                    required
                    id="from_email"
                    name="from_email"
                />

                <label
                    for="message"
                    class="font-bold opacity-90 mb-1 text-start text-lg"
                    >Message</label
                >
                <textarea
                    class="bg-transparent border-white/50 border-2 placeholder:text-gray-500 placeholder:text-lg py-[5px] text-white rounded-md mb-4 md:w-[80%] xs:w-full shadow-lg"
                    placeholder="Type your message"
                    required
                    maxlength="2000"
                    rows="6"
                    name="message"
                    id="message"
                >
                </textarea>

                <button
                    type="submit"
                    id="button"
                    class="bg-white text-black text-2xl h-20 font-bold py-2 px-4 rounded-2xl mt-4 md:w-[80%] xs:w-full hover:text-3xl hover:bg-green-400 hover:text-white hover:scale-[1.02] ease-in duration-300"
                >
                    Submit
                </button>
            </form>
        </div>
    </div>
</section>
