<section
    class="flex justify-center mx-auto py-16 xl:w-[80%] sm:w-full xs:w-[75%]"
>
    <div class="sm:w-[50%] xs:w-full">
        <h2
            class="md:text-10xl w-fit text-5xl font-Bebas font-bold mt-36 mb-3 bg-clip-text uppercase"
        >
            Contact Me
        </h2>
        <p class="md:text-2xl text-xl mt-6 opacity-60 text-start">
            Feel free to reach out for collaborations, inquires, or just to say
            hi!
        </p>

        <form autocomplete="off" class="flex flex-col py-2 mt-1" id="form">
            <label
                for="from_name"
                class="font-bold opacity-90 mb-1 text-start text-lg">Name</label
            >
            <input
                type="text"
                class="bg-transparent border-white/50 border-2 placeholder:text-gray-500 placeholder:text-lg py-[5px] text-white rounded-md mb-4 md:w-[80%] xs:w-full"
                placeholder="What's your name?"
                required
                id="from_name"
                name="from_name"
            />

            <label
                for="from_email"
                class="font-bold opacity-90 mb-1 text-start text-lg"
                >Email</label
            >
            <input
                type="text"
                class="bg-transparent border-white/50 border-2 placeholder:text-gray-500 placeholder:text-lg py-[5px] text-white rounded-md mb-4 md:w-[80%] xs:w-full"
                placeholder="What's your email address?"
                required
                id="from_email"
                name="from_email"
            />

            <label
                for="message"
                class="font-bold opacity-90 mb-1 text-start text-lg"
                >Message</label
            >
            <textarea
                class="bg-transparent border-white/50 border-2 placeholder:text-gray-500 placeholder:text-lg py-[5px] text-white rounded-md mb-4 md:w-[80%] xs:w-full"
                placeholder="Type your message"
                required
                maxlength="2000"
                rows="5"
                name="message"
                id="message"
            >
            </textarea>

            <button
                type="submit"
                id="button"
                class="bg-white text-black font-bold py-2 px-4 rounded-md mt-4 md:w-[80%] xs:w-full hover:bg-green-400 hover:text-white hover:scale-[1.02] ease-in duration-300"
            >
                Submit
            </button>
        </form>
    </div>
</section>
